/**
 * Advertorials.
 */
.list .advert {

  @include paper();
  padding:0;
  background: $adColor;
  max-width: $contentWidth;
  position: relative;
  overflow: hidden;
  min-height: 4*$verticalBase;

  // Bleeding list items on the very smallest screens
  @media screen and (max-width: 349px) {
    margin: 0 $horizontalBase*-1;
    border: 0;
    border-bottom: 1px solid $borderColor;
    &:first-child {
      border-top: 1px solid $borderColor;
    }
  }
  figure {
    margin: 0 0 $verticalBase;
    width: auto!important
  }
  > h4 {
    padding-left: $horizontalBase;
    padding-right:$horizontalBase;
    margin-bottom: $verticalBase;
  }
  > p {
    padding:0 $horizontalBase;
  }
  img {
    display: block;
  }
  .advert-marker {
    color:#FFFFFF;
    background-color: $overlayColor;
    margin-bottom: $verticalBase;
    padding:0 $horizontalBase;
    width: 100%;
    font-size: 1.4rem;
  }
}
