/**
 * Template specific classes
 */
article header {
    figure {
        margin:0 $horizontalBase*-1;
        position:relative;
        line-height:0;

        img {
            width:100%;
            height:auto;
            min-height:$verticalBase;
        }
        figcaption {
            padding:0 $horizontalBase;
            position:absolute;
            bottom:0;
            right:0;
            background:$overlayColor;
            color:white;
            line-height:$verticalBase;

            a {
                color:inherit;

                &:hover,
                &:active,
                &:focus {
                    background:white;
                    color:$textColor;
                }
            }
        }
    }
    h1,
    p,
    .byline {
        max-width:$contentWidth;
        margin-left:auto;
        margin-right:auto;
    }
}

article footer {
    max-width:none;

    > * {
        max-width:$contentWidth;
        margin-left:auto;
        margin-right:auto;
    }
}
.entry-meta {
    padding:$verticalBase*2/3 $horizontalBase $verticalBase*1/3;
    border-bottom:1px solid $borderColor;
}
.byline {
    @extend h6;

    a {
        text-decoration:none;
        background:inherit;
        color:inherit;

        &:hover,
        &:active,
        &:focus {
            color:$linkHighlightColor;
            background:$linkColor;
            outline:none;
        }
    }

    dt {
        display:none;
    }
    dd {
        padding-left:0;
        margin-left:$horizontalBase*-1/4;
        margin-bottom:0;
    }

    @media screen and (min-width:380px) {
        dd {
            display:inline;
        }
    }
    .published-date {
        font-weight:normal;

    }
}
.entry-footer {
    @extend h6;
    padding-top:$verticalBase*2/3;
    padding-bottom:$verticalBase*1/3;
}
