// Palette
$neutralColor:rgb(238,238,238);
$whiteColor:rgb(255,255,255);
$lightShade:rgba(0,0,0,0.04);
$overlayColor:rgba(0,0,0,0.4);
$offwhiteColor:#f5f5f5;

// Backgrounds
$bgColor: $neutralColor;
$paperColor: $whiteColor;
$bylineBgColor: $lightShade;
$linkBgColor: $lightShade;
$borderColor:darken($neutralColor,6.5%);
$lightBorderColor:darken($neutralColor,3%);

// Copy
$headingColor:#333;
$textColor:#555;
$lightTextColor:#777;
$bylineColor:#8f8f8f;
$lightHeadingColor:rgba(0,0,0,0.545);
$linkColor:#08e;
$linkHighlightColor:$offwhiteColor;

$solColor:#e20613;
$solRed:$solColor;
