// Palette
$neutralColor:rgb(238,238,238);
$whiteColor:rgb(255,255,255);
$offwhiteColor:darken($whiteColor,4%);


// Backgrounds
$bgColor: $neutralColor;
$paperColor: $whiteColor;
$bylineBgColor: $offwhiteColor;
$linkBgColor: $offwhiteColor;

// Copy
$headingColor:#333;
$textColor:#555;
$lightTextColor:#777;
$bylineColor:#8f8f8f;
$lightHeadingColor:lighten($headingColor,36%);
$linkColor:#08e;

$solColor:#e20613;
