// Backgrounds
$bgColor: rgb(238,238,238);
$paperColor: rgb(255,255,255);
$bylineBgColor: #f5f5f5;

// Copy
$headingColor:#333;
$textColor:#555;
$lightTextColor:#777;
$bylineColor:#8f8f8f;
$lightHeadingColor:lighten($headingColor,36%);

$solColor:#e20613;
