@mixin margin() {
    margin:$verticalBase $horizontalBase;
}
@mixin padding() {
    padding:$verticalBase $horizontalBase;
}
@mixin spacing() {
    @include margin();
    @include padding();

    > :first-child {
        margin-top:0;
    }
    > :last-child {
        margin-bottom:0;
    }
}

@mixin paper-shadow() {
    @include box-shadow(rgb(221,221,221) 0px 0px 2px);
}

@mixin paper() {
    @include spacing();
    @include paper-shadow();

    background:$paperColor;
    border:1px solid darken($bgColor, 6.5%);
}

@mixin nopaper() {
    margin:0;
    box-shadow:none;
    background:transparent;
    border:none;
}

@mixin standout() {
    background-color:$bylineBgColor;
    margin-left: -$horizontalBase;
    margin-right:-$horizontalBase;
    padding-left: $horizontalBase;
    padding-right:$horizontalBase;
}

body {
    background:$bgColor;
}

main {
    max-width:66.6rem;
    max-width:98.0rem;
    margin:auto;
}

article {
    @include paper();
}

.byline {
    @include standout();
}

.entry-footer {
    @include standout();
    margin-top:2*$verticalBase;
    margin-bottom:-$verticalBase;
}

.post-navigation {
    @include paper();
    @include spacing();
    @include clearfix();

    .nav-previous,
    .nav-next {
    }

    .nav-previous {
        float:left;
    }

    .nav-next {
        float:right;
    }
}
