/**
 * Menu.
 *
 * Menu styles copied from the solskinn project 2015-03-24. This project should hopefully be it's final resting place.
 * Some changes have been made to standardize colors.
 */
#page-header {
  overflow: hidden;
}

#page-header-content {
  position: fixed;
  width:100%;
  height: $headerHeight;
  top:0;
  left:0;
  color: $offwhiteColor;
  background: $headerColor;
  text-align:center;
  z-index:99999;
  overflow: hidden;

  .toggled {
    background:$menuButtonActiveColor;
  }
}


#header-menu {
  display: block;
  height: 46px;
  float: left;
  padding: 0 8px 10px 12px;
  width: auto;
  cursor: pointer;
  font-size:4.2rem; //42px
  @include transition(all,.5s, ease);

  .icon-menu {
    cursor: pointer;
  }
}

#header-title {
  width: 100%;
  font-size: 3.6rem; //36px

  #header-text {
    display: none;
  }
  a {
    display: inline-block;
    background: url(http://www.sol.no/static/img/sol_logo.png) 0 0 no-repeat;
    background-size: 100%;
    margin-top: 7px;
    margin-left: -8px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
  }
}
#header-search {
  display: block;
  float: right;
  width: auto;
  padding: 10px 10px 8px 0;

  #search-input {
    min-width: 100px;
    width: 148px;
    height: 19px;
    font-size: 1.9rem; //19px
    padding: 8px;
    vertical-align: bottom;
    border: 0;
    border-radius: 0;
    background:$lightTextColor;
  }
  #search-submit {
    width: 40px;
    height: 35px;
    padding: 4px 0 0 0;
    border: 0;
    border-radius: 0;
    vertical-align: bottom;
    color: white;
    background-color: $solRed;
    font-size: 2.5rem; //25px
    cursor: pointer;

    i {
      cursor: pointer;
    }
  }
}
#header-nav::-webkit-scrollbar {
  display: none;
}

#page-header #header-nav {
    display:none;
}
#page-header.toggled #header-nav {
    display:block;
}

#header-nav {
  position: fixed;
  background: $offwhiteColor;
  top: 56px;
  z-index: 9999;
  width: 100%;
  overflow: auto;
  bottom: 0;

  #main-menu {
    width: auto;
    padding: 0;
    margin: 0;

    li:first-child {
      border-top: none;
    }
    li {
      display: block;
      position: relative;
      list-style: none;
      line-height: 1.2rem; //12px
      text-decoration: none;
      color: $textColor;
      width: 100%;
      border-top: 1px solid $borderColor;

      a {
        display: block;
        padding: 15px 0 15px 16px;
        font-size: 2.0rem; //20px
        line-height: 1.8rem; //18px
        border-left-width: 7px;
      }
      .main-menu-expand {
        position: absolute;
        top: 0;
        right: 0;
        width: 96px;
        height: 50px;
        border-left: 1px solid $borderColor;
        cursor: pointer;
        color: $textColor;

        .icon-arrow-right {
          position: absolute;
          font-size: 2.1rem; //21px
          top: 14px;
          left: 42px;
        }
        .icon-arrow-down {
          position: absolute;
          font-size: 2.1rem; //21px
          top: 12px;
          left: 38px;
        }
      }
      .bold {
        font-weight: 800;
      }
    }
    #main-menu-children {
      background-color: $offwhiteColor;
      padding: 0;

      li {
        list-style: none;
        border-top: 1px solid $borderColor;

        a {
          font-size: 1.7rem; //17px
          line-height: 1.8rem; //18px
        }
      }
    }
  }
  #extra-menu {
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      width: 50%;
      list-style: none;
      text-align: center;

      a {
        display: block;
        padding: 14px 5px 12px;
        color: $whiteColor;
        font-size: 1.8rem; //18px
        font-weight: 900;
        line-height:2.9rem; //29px;
        text-transform: uppercase;
        border-top: 1px solid $extraMenuBorder;
        border-right: 1px solid $extraMenuBorder;
      }
    }
    .soltv {
      a {
        text-indent: -9999px;
        background: url(http://www.sol.no/static/img/tv-logo.png) no-repeat;
        background-size: contain;
        background-position: 50%;
        background-clip: content-box;
        background-origin: content-box;
      }
    }
  }
}

@media (max-width: 320px) {
  #header-search #search-input {
    max-width:112px;
  }
}
