/**
 * Mixins
 */
@mixin box-shadow($value1,$value2:"") {
    @if $value2 != "" {
        -webkit-box-shadow: $value1,$value2;
        -moz-box-shadow: $value1,$value2;
        box-shadow: $value1,$value2;
    } @else {
        -webkit-box-shadow: $value1;
        -moz-box-shadow: $value1;
        box-shadow: $value1;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin clearfix() {
    display: block;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin padded-text() {
  padding:$verticalBase/10 $horizontalBase/4;
  margin:$verticalBase*-1/10 0;
  background:$linkBgColor;
  @include border-radius(3px);
}
@mixin no-padded-text() {
  padding:0;
  margin:0;
  background:transparent;
}

@mixin margin() {
  margin:$verticalBase $horizontalBase;
}
@mixin padding() {
  padding:$verticalBase $horizontalBase;
}

@mixin spacing() {
  @include margin();
  @include padding();

  > :first-child {
    margin-top:0;
  }
  > :last-child {
    margin-bottom:0;
  }
}

@mixin paper-shadow() {
  @include box-shadow(rgb(221,221,221) 0px 0px 2px);
}

@mixin paper() {
  @include spacing();
  @include paper-shadow();

  background:$paperColor;
  border:1px solid $borderColor;
  max-width:$paperWidth;
  margin-left:auto;
  margin-right:auto;

  > * {
    max-width:$contentWidth;
    margin-left:auto;
    margin-right:auto;
  }
}

@mixin nopaper() {
  margin:0;
  box-shadow:none;
  background:transparent;
  border:none;
  max-width:none;

  > * {
    max-width:none;
    margin-left:0;
    margin-right:0;
  }
}

@mixin standout() {
  background-color:$bylineBgColor;
  margin-left: -$horizontalBase;
  margin-right:-$horizontalBase;
  padding-left: $horizontalBase;
  padding-right:$horizontalBase;
}

%headingStyles {
  clear:both;
  font-weight:bold;
  color:$headingColor;
}


