/**
 * Typography changes for desktop-width viewports.
 */
@media screen and (min-width:$desktopWidth) {
    h1 {
        font-size:5.2rem;
        line-height:$verticalBase*3;
    }
    h2 {
        font-size:2.8rem;
    }
    h3,h4 {
        font-size:2.0rem;
    }

    // Lede
    h1 + p {
        font-size:2.2rem;
    }

    a {
        @include no-padded-text();

        &:hover,
        &:active,
        &:focus {
            text-decoration:none;
            background:transparent;
            color:$linkColor;
        }

        &:focus {
            outline:1px solid $linkColor;
        }
    }

    html .byline dd {
        margin-left:0;
    }
}
