@import 'fonts';

body {
    font-family:helvetica();
    font-size:1.6rem;
    line-height:$verticalBase;
    color:$textColor;
}

/**
 * Headings
 */

h1,h2,h3,h4,h5,h6 {
    clear:both;
    font-weight:bold;
    color:$headingColor;
}
h1,h2,h3,h5 {
    font-family:roboto();
}

h1 {
    font-size:3.0rem;
    line-height:2*$verticalBase;
    padding-top:$verticalBase*12/5;
    padding-bottom:$verticalBase*3/5;
    text-align:center;
}
h2,h3 {
    padding-top:$verticalBase*7/5;
    padding-bottom:$verticalBase*3/5;
}
h2 {
    font-size:2.5rem;
    line-height:2*$verticalBase;
}
h3 {
    font-size:2.0rem;
    padding-top:$verticalBase*8/5;
    padding-bottom:$verticalBase*2/5;
}
h4 {
}
h5 {
    padding-top:$verticalBase*3/5;
    padding-bottom:$verticalBase*2/5;
    font-size:1.4rem;
    color:$lightHeadingColor;
}
h6 {
    font-size:1.5rem;
    font-weight:normal;
    font-style:italic;
}

/**
 * Body copy
 */
p {
    margin-bottom:$verticalBase;
}

a {
    display:inline;
    text-decoration:underline;
    padding:$verticalBase/7 $horizontalBase/2;
    background:$linkBgColor;
    color:$linkColor;
    @include border-radius(3px);
    position:relative;

    &:hover,
    &:active,
    &:focus {
        text-decoration:none;
        background:$linkColor;
        color:$linkBgColor;
        z-index:9;
    }

    &:active {
        top:1px;
    }
}

strong {
    font-weight:bold;
}

small {
    font-size:1.4rem;
    color:$lightTextColor;
}

cite {
    @extend small;
}

em {
    font-style:italic;
}

img {
    max-width:100%;
    height:auto;
}

/**
 * Lists
 */

ul, ol {
    padding-left:2*$horizontalBase;
}

ul {
    list-style-type:disc;
}

ol {
    list-style-type: decimal;
}

li {
}

dl {

}

dt {
    @extend h4;
}

dd {

}

