@import
    'style';

/**
 * Template specific classes
 */
.byline {
    @extend h5;
    padding-left:$horizontalBase;
    padding-right:$horizontalBase;

    a {
        color:inherit;
        text-decoration:none;
    }

    dt,dd {
        display:inline;
    }
}
.entry-footer {
    @extend h5;
}
// Lede
h1 + p {
    font-size:1.8rem;
}
