@import
    'style';

/**
 * Template specific classes
 */
.byline {
    @extend h6;
    padding:$verticalBase*2/3 $horizontalBase $verticalBase*1/3;
    border-bottom:1px solid $borderColor;

    a {
        text-decoration:none;
        background:inherit;
        color:inherit;

        &:hover,
        &:active,
        &:focus {
            color:$linkHighlightColor;
            background:$linkColor;
        }
    }

    dt {
        display:none;
    }
    dd {
        display:inline;
        padding-left:0;
        margin-left:$horizontalBase*-1/2;
    }

    .published-date {
        font-weight:normal;
    }
}
.entry-footer {
    @extend h6;
    padding-top:$verticalBase*2/3;
    padding-bottom:$verticalBase*1/3;
}
// Lede
h1 + p {
    font-size:1.8rem;
}
