@import
    'style';

/**
 * Template specific classes
 */
.byline {
    @extend h6;
    padding-left:$horizontalBase;
    padding-right:$horizontalBase;

    a {
        text-decoration:none;
        background:inherit;
        color:inherit;

        &:hover,
        &:active,
        &:focus {
            color:$linkHighlightColor;
            background:$linkColor;
        }
    }

    dt {
        display:none;
    }
    dd {
        display:inline;
        padding-left:0;
        margin:0 $horizontalBase*-1/2;
    }

    .published-date {
        font-weight:normal;
    }
}
.entry-footer {
    @extend h6;
}
// Lede
h1 + p {
    font-size:1.8rem;
}
