@import
    'settings/colors',
    'settings/variables',
    'settings/mixins',

    'modules/reset',
    'modules/typography',
    'modules/layout';

/**
 * Custom vars.
 */
$goldenFbCommentsWidth:801px; // Enough space to fit fb comments side by side w/ content

/**
 * Template specific classes.
 */
.event {
    /**
     * Event-headers.
     *
     * This is the introduction to this specific collection.
     */
    main > header {
        background-position:center center;
        background-size:cover;
        padding-top:$verticalBase*15;

        h1,
        .event-summary,
        .event-summary-footer {
            padding:$verticalBase/2 $horizontalBase;
            background:$overlayColor;
            color:$overlayTextColor;
            p {color:$overlayTextColor;}
        }

        .event-summary-footer {
            overflow:hidden;
        }

        .social {
            display:block;
            width:38.2%; // It's golden!
            float:right;
            text-align:right;
        }

        h1 {
        }
        .event-summary {

        }
        .event-summary-footer{

        }

    }

    /**
     * Sparks.
     *
     * A 'spark' is a mini-collection. Our main collection consists of one or many of these. Within
     * them, you'll often find links. Together, a spark and a link should look like a set of cards
     * collapsed together to form a list.
     *
     * Looking for 'templates' and 'styles'? Search for .item-default.
     */
    article {
        padding:0;
        border-top-width:0;

        // Card-like block-level links are the clickable grains of our creation,
        // along with fact boxes (aside nodes) and external embedded content.
        //
        // Read some doge:
        // Very link.
        // Such click.
        // Wow.
        > a,
        > aside {
            display:block;
            @include padding();
            margin:0 auto;
            position:relative;
            overflow:hidden;
        }

        > a {
            background:transparent;
            text-decoration:none;
            color:$textColor;

            border-bottom:1px solid $borderColor;
            border-radius:0;

            &:last-child {
                border-bottom:0 none;
            }

            &:hover,
            &:active,
            &:focus {
                background:transparent;
                filter: contrast(105%) saturate(105%);
            }

            &:focus {
                outline:1px solid $linkColor;
/*
                &:hover {
                    outline:none;
                }
*/
            }
        }

        > aside {
            background:$lightShade;
        }


        .source {
            position:absolute;
            right:$horizontalBase;
            bottom:0;
        }
    }

    .post-navigation {
        clear:both;
        margin-left:$horizontalBase;
        margin-right:$horizontalBase;
    }

    /**
     * Site-footer.
     *
     * Always at the bottom of our page, the site-footer serves as our colophon.
     * It's styles are mostly imported from elsewhere.
     */
    > footer {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
    }

    // Items have a 'template' and a 'style' that
    // both should impact their visual appearance.
    //
    // Choosing a template allows the editors to
    // alter the layout, and choosing a style allows
    // them to set the 'temperature'.
    //
    // Let's start with the templates
    .item-default {
        img {
            float:left;
            margin-right:$horizontalBase;
        }
        h3 {
            clear:none;

            // Typography override
            padding-top:1/3*$verticalBase;
            padding-bottom:2/3*$verticalBase;
        }
    }
    .item-main {
        h3 {
            clear:none;

            // Typography override
            font-size:2.4rem;
        }
    }
    .item-gallery {
        // Item gallery styles are for some reason still in the
        // sol-event-public repo.
        // @TODO Move them here
    }
    .item-facts {
        h3 {
            // @TODO Move to typography
            font-size:1.8rem;
            color:$solRed;
            text-transform:uppercase;
        }
    }
    .item-raw {
    }
    .item-advertorial {
    }
    .item-banner-ad {
    }
}

html {
    position:relative;
    padding-bottom:806px; // Making room for the footer
}

/**
 * Layout-large.
 */
@media screen and (min-width:$goldenFbCommentsWidth) {
    .event {
        // Move margin() to main element
        .sparks,
        > aside {
            margin:0;
        }
        main {
            margin: $verticalBase $horizontalBase;
        }

        main > header,
        main > .sparks {
            float: left;
        }

        main > header {
            width:100%;
            padding-top:$verticalBase*8;

            h1,
            .event-summary {
                width: 61.8%; // Golden ratio
            }
            .event-summary-footer {
                margin-top:$verticalBase;
            }
        }

        > aside {
            float: right;
            width: 38.2%; // Golden ratio
            margin-top:$verticalBase 0; // Same vertical margins as sparks
        }

        .sparks {
            width: 61.8%; // Golden ratio

            article {
                border-top-width:1px;
            }
        }

    }
}
