/**
 * This will hopefully be common code later on and not 'sol-event-public'-spesific.
 */

@import
'settings/colors',
'settings/variables',
'settings/mixins',

'modules/reset',
'modules/typography',
'modules/layout',
'modules/responsive-embeds';

/**
 * Custom vars.
 */
$goldenFbCommentsWidth:801px; // Enough space to fit fb comments side by side w/ content

/**
 *
 */
.event {
    .ad-wrapper {
        overflow: hidden;
    }

    .ad-topbanner {
        padding-top: 1.2rem;
        margin-top: $verticalBase - 1.2rem;
        text-align: center;
        position: relative;
    }

    .ad-netboard {
        text-align: center;
        position: relative;
        clear: both;
        padding-top: 1.2rem;
        margin-top: $verticalBase;
    }

    .advert-marking:after {
        @extend small;
        text-align: center;
        text-transform: lowercase;
        content: "Annonse";
        position: absolute;
        top: 0px;
        line-height: 1.2rem;
        display: block;
        width:100%;
    }
}

/**
 * Layout-large.
 */
@media screen and (min-width:$goldenFbCommentsWidth) {
    .event {

    }
}
