/**
 * This will hopefully be common code later on and not 'sol-event-public'-spesific.
 */

@import
'settings/colors',
'settings/variables',
'settings/mixins',

'modules/reset',
'modules/typography',
'modules/layout',
'modules/responsive-embeds';

/**
 * Custom vars.
 */
$goldenFbCommentsWidth:801px; // Enough space to fit fb comments side by side w/ content
$adMarkerSize: 1rem;

/**
 *
 */
.event {
    .ad-wrapper {
        overflow: hidden;
    }

    .ad-topbanner {
        margin-top: $verticalBase - $adMarkerSize;
    }

    .ad-netboard {
        clear: both;
    }

    .ad-marker:before {
        font-size: $adMarkerSize;
        color: $lightTextColor;
        text-transform: lowercase;
        content: "Annonse";
        line-height: $adMarkerSize;
        display: block;
        text-align: center;
    }
}

/**
 * Layout-large.
 */
@media screen and (min-width:$goldenFbCommentsWidth) {
    .ad-wrapper {
        margin-left: $horizontalBase;
        margin-right: $horizontalBase;
    }
}
