@import
    'settings/colors',
    'settings/variables',
    'settings/mixins',

    'modules/reset',
    'modules/typography',
    'modules/layout';

/**
 * Custom vars
 */
$goldenFbCommentsWidth:801px; // Enough space to fit fb comments side by side w/ content

/**
 * Template specific classes
 */

// Targeting block-level links, actually .event article > a
// Kept outside everything to avoid adding specificity
:link {
    background:transparent;
    text-decoration:none;
}

.event {
    /**
     * Event-headers
     */
    main > header {
        background-position:center center;
        background-size:cover;
    }

    .sparks,
    > aside {
        @include margin();
    }

    article > :link {
        display:block;
    }

    .post-navigation {
        clear:both;
        margin-left:$horizontalBase;
        margin-right:$horizontalBase;
    }
}

/**
 * Layout-large
 */
@media screen and (min-width:$goldenFbCommentsWidth) {
    .event {
        // Move margin() to main element
        .sparks,
        > aside {
            margin:0;
        }
        main {
            margin: $verticalBase $horizontalBase;
        }

        main > header,
        main > .sparks {
            float: left;
        }

        main > header {
            width:100%;
        }

        > aside {
            float: right;
            width: 38.2%; // Golden ratio
        }

        .sparks {
            width: 61.8%; // Golden ratio

            article a {
                display: block;
            }
        }

    }
}
