@import
    'style',
    'article';

article.list {
    @include nopaper();

    header {
        @include paper-shadow();
        background:$paperColor;
        margin:0rem $horizontalBase*-1 $verticalBase;
        padding:0 $horizontalBase;
    }

    .entry-content {
        > ol {
            padding-left:0;
            padding-right:0;

            list-style:none;
            counter-reset:li-counter;

            > li {
                @include paper();
                margin:$verticalBase 0;
                padding:0 $horizontalBase $verticalBase;
                padding:0 $horizontalBase;

                position:relative;
                overflow:hidden;
                min-height:4*$verticalBase;

                &:before {
                    @include spacing();
                    margin-left:0;
                    padding:0;

                    position:absolute;
                    top:0;
                    left:$horizontalBase;

                    content:counter(li-counter);
                    counter-increment:li-counter;
                    display:inline-block;
                    width:2*$verticalBase;
                    height:2*$verticalBase;
                    border-radius:50%;
                    text-align:center;
                    line-height:2*$verticalBase;

                    background:$solColor;
                    color:white;

                    font-family:helvetica();
                    font-weight:bold;
                    font-size:2.4rem;
                }

                > :first-child {
                    clear:none;
                    padding-left:$horizontalBase + 2*$verticalBase;
                    min-height:4*$verticalBase;
                }

                /*
                :last-child {
                    padding-bottom:0;
                    margin-bottom:0;
                }
                 */
            }
        }

        .wp-caption {
            margin:0rem $horizontalBase*-1;
            width:auto !important;

            > img {
                width:100%;
            }
        }

        .wp-caption-text {
            @extend cite;
            @include padding();
        }
    }
}
