@import
    'article',
    'modules/typography-listicle',
    'modules/advert';

/**
 * Template specific classes
 */
.listicle {
    @include nopaper();
    @include padding();

    // Adjust to wallpapers
    &.has-post-thumbnail {
        padding-top:$verticalBase;
    }

    background:$bgColor;

    // Typography overrides
    h1,h2,h5,h6 {
        font-family:$alternativeHeadingFont;
    }
    h4 {
        font-size:2.0rem;
    }

    header {
        @include paper-shadow();

        background:$paperColor;
        margin:0;
        padding:0 $horizontalBase;

        h1,
        p {
            text-align: center;
        }
    }

    // Only target lists that are direct children of a WP post
    // or direct children of the TinyMCE editor
    .entry-content > ol,
    > ol {
        padding-left:0;
        padding-right:0;

        list-style:none;
        counter-reset:li-counter;

        > li {
          @include paper();
          max-width:$contentWidth;

          position:relative;
          overflow:hidden;
          min-height:4*$verticalBase;

          &:first-child {
            margin-top:0;
          }

          // Bleeding list items on the very smallest screens
          @media screen and (max-width:349px) {
            margin:0 $horizontalBase*-1;
            border:0;
            border-bottom:1px solid $borderColor;

            &:first-child {
              border-top:1px solid $borderColor;
            }
          }

          // Custom list-markers
          &:before {
            @include margin();
            margin-left:0;
            padding:0;

            position:absolute;
            top:0;
            left:$horizontalBase;

            content:counter(li-counter);
            counter-increment:li-counter;
            display:inline-block;
            width:2*$verticalBase;
            height:2*$verticalBase;
            border-radius:50%;
            text-align:center;
            line-height:2*$verticalBase;

            background:$solColor;
            color:white;

            font-family:helvetica();
            font-weight:bold;
            font-size:2.4rem;
          }

          > :first-child {
            padding-left:$horizontalBase + 2*$verticalBase;
            min-height:2*$verticalBase;
            margin-bottom:$verticalBase;
          }

          > :last-child {
            margin-bottom:0;
          }

          > .wp-caption {
            width:100% !important; // Override inline styles from WordPress
          }

          > .wp-caption:last-child :last-child {
            margin-bottom:0;
          }
        }
    }

    > iframe {
        width:100%;
        margin:0 auto $verticalBase !important;

        &:last-child {
            margin-bottom:0 !important;
        }
    }

    blockquote {
      margin-left:$horizontalBase;

      &:first-child {
        margin-left:$verticalBase*2 + $horizontalBase;
        padding-left:$horizontalBase;
      }
    }

    img.aligncenter {
      width:100%;
      height:auto;
      margin-left:-$horizontalBase;
    }

    .related-posts {
        max-width:$contentWidth;
        margin:0 0 $verticalBase;
    }
}
