@import
    'article';

html {
    padding-bottom:0;
    background: $bgColor;
}
#tinymce {
    @include paper();
    min-height: 5*$verticalBase;
    padding-top: $verticalBase !important; // WP defaults uses !important
    padding-bottom: $verticalBase !important; // WP defaults uses !important
}
