.share-buttons {
    width: 100%;
    display: table;
    margin: 0 0 $verticalBase;

    @media screen and (min-width: $largeWidth) {
        margin: 2*$verticalBase auto;
        max-width: $contentWidth;

        &:first-child {
            margin-top:0;
        }
        &:last-child {
            margin-bottom:0;
        }
    }
}

.share-button {
    display: table-cell;
    width: 50%;
    @include box-sizing(border-box);
    font-weight:bold;

    .fa {
        float: left;
        margin: 0;
        padding: 0;

        &.fa-twitter,
        &.fa-facebook {
            line-height: $verticalBase;
            margin-right:$horizontalBase;
        }
        @media screen and (min-width:$largeWidth) {
            margin: 0 2*$horizontalBase 0 $horizontalBase;
            padding: 0 2*$horizontalBase 0 0;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            line-height: $verticalBase*3/2;
        }
    }

    .hidden-mobile {
        display:none;
        margin-right: 5px;

        @media screen and (min-width:$largeWidth) {
            display:inline;
            font-weight:normal;
        }
    }

    & > a {
        display: block;
        padding: 1/2*$verticalBase $horizontalBase;

        color: $whiteColor;
        font-weight: 700;
        font-size: 1.5rem;
        text-decoration: none;

        border-radius:0.3rem;
        @include box-sizing(border-box);
        -webkit-font-smoothing: antialiased;

        img {
            float: left;
            height: 18px;
            margin: 8px;
        }

        table {
            margin: 0;
        }

        br {
            display:none;
        }

        &.addthis_button_facebook {
            margin-right: $horizontalBase;
            background: $facebookColor;
        }

        &.addthis_button_twitter {
            margin-left: $horizontalBase;
            background: $twitterColor;
        }

        @media screen and (min-width:$largeWidth) {
            font-size: 2.1rem;
        }
    }
}
