/**
 * Custom vars.
 */
$adMarkerSize: 1rem;

@import 'ads-native';

.ad-wrapper {
    overflow: hidden;
}

.banner-ad {
    clear: both;
    width:100%;
    position:relative;
    text-align: center;
    margin-bottom:$verticalBase;

    // Above wallpaper, beneath everything else
    z-index:2;

    .sparks & {
        @include paper();
        padding-top:0;
    }
}

.ad-topbanner {
    margin-bottom:0;

    // A link child is put here by the wallpaper module to
    // make everything clickable. Let's have it cover things!
    a {
        display:block;
        width:100%;
        height:300px;
        position:absolute;
        bottom:0;
    }
}

.ad-fullscreen {
  height: calc(100vh - 54px);
  width: 100vw;
  margin-bottom: $verticalBase*3/2 !important;

  flex-basis: 100vw;
  flex-grow: 1;
  flex-shrink: 0;

  @media (min-width: 1000px) {
    margin-right: calc(( 100vw - 1008px) * -0.5 - -8px) !important;
    margin-left: calc(( 100vw - 1008px) * -0.5 - 14px) !important;
  }

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    clip: rect(auto, auto, auto, auto);
  }

  > div iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.ad-marker:before {
    margin-top: $verticalBase - $adMarkerSize;
    font-size: $adMarkerSize;
    color: $lightTextColor;
    text-transform: lowercase;
    content: "Annonse";
    line-height: $adMarkerSize;
    display: block;
    text-align: center;
}

/**
 * Layout-large.
 */
@media screen and (min-width:$largeWidth) {
    @import 'ads-sticker';
    @import 'ads-wallpaper';
}
