.latest-module {
    background-color: white;
    border: 1px solid #dfdfdf;
    padding: 14px;
    max-width: 300px;
    box-shadow: #ddd 0 0 2px;

    a {
        text-decoration: none;
        background: white;
    }

    .latest-module-title {
        font-weight: bold;
        font-family: inherit;
        font-size: 20px;
        color: #333;
    }

    .latest-module-box-header {
        color: red;
        font-family: roboto slab;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .latest-module-item {
        margin-bottom: 30px;
    }
}