a {
    @include padded-text();
    border-radius: 0;
    margin-left: -$horizontalBase/8;
    margin-right: -$horizontalBase/8;

    text-decoration:none;
    color:$linkColor;
    position:relative;
    border-bottom: 1px solid $borderColor;

    &:hover {
        border-bottom-color: $linkColor;
    }

    &:active {
        color:$activeLinkColor;
        border-bottom-color:$activeLinkColor;
    }

    &:focus {
        background:$offwhiteColor;
        border-radius: 0.3rem;
        border-bottom-color:transparent;
        z-index:9;
        outline:none;
        box-shadow: 0 0 0.3rem 0.1rem $linkColor;
    }

    // Hide focus styles from mouse users
    &:focus:hover {
        background: transparent;
        border-radius:0;
        border-bottom-color:$activeLinkColor;
        box-shadow:initial;
    }

    &.image-link {
        padding:0;
    }
}

a.image-link, // this line is for legacy
a.blocklink {
    @include no-padded-text();

    line-height:0;
    display:block;
    text-decoration:none;
    border-bottom:0 none;

    &:active {
        top:1px;
    }
}

// Make inline links in headlines not overlap
h1,h2,h3,h4,h5,h6 {
    a {
        border-bottom:0;

        &:hover {
            text-decoration:underline;
        }

        &:focus {
            text-decoration:underline;
            background:transparent;
            box-shadow:none;
        }
    }
}
