@import
  '../settings',
  'reset',
  'wordpress-standard-classes',
  'typography',
  'typography-magazine';

body {
    background: $magazineBg;
    font-family: $magazineFontFamily;
}

main {
    position: relative;
    max-width: inherit;
    margin: auto;
}

.magazine {
  position:relative;
  max-width: $topbannerRestrictedWidth;
  margin: auto;
  padding: 0;
  background-color: $magazineBg;
  font-family: $magazineFontFamily;
  border: 1px solid $magazineBorderColor;
}

 /**
  * Magazine template
  */
 .magazine .article-content {
     padding: 3rem 2rem 0 2rem;

     @media screen and (min-width: $largeWidth) {
       padding: 5.2rem 10*$horizontalBase;
     }

     h1,h2,h3,h4 {
       font-family: $magazineFontFamily;
     }

     h2,h3,h4 {
       font-size: 2rem;
       line-height: 2.4rem;
       padding-top: 1.2rem;
     }
  }

/**
 * Magazine header
 */

.article-header {
 .article-title {
   font-family: $magazineFontFamily;
   text-align: center;
   padding: $verticalBase $horizontalBase;

   @media screen and (min-width: $largeWidth) {
     padding-top: 3*$verticalBase;
     font-size: 6rem;
   }
 }

 figure {
   position: relative;
   line-height: 0;

   img {
     width: 100%;
   }

   figcaption {
     padding:0 $horizontalBase;
     position:absolute;
     bottom:0;
     right:0;
     background:$overlayColor;
     color:$overlayTextColor;
     line-height:$verticalBase;

     a {
       color:inherit;

       &:hover,
       &:active,
       &:focus {
         background:white;
         color:$textColor;
       }
     }
   }

   iframe.sedenne {
     height:23*$verticalBase; // ~550px
     width:100%;
     border:none;
     visibility:visible;
   }
 }

 .article-excerpt {
   font-family: inherit;
   font-size: 1.8rem;
   line-height: 2.6rem;
   text-align: center;
   margin-bottom: 2.4rem;
   padding: 0 2rem;

   @media screen and (min-width: $largeWidth) {
     font-size: 2.4rem;
     line-height: 3.6rem;
     padding: 0 4.4rem;
     margin-bottom: 4rem;
   }
 }

 .article-meta {
   position: relative;
   padding: 0 $horizontalBase;

   .byline {
     display: flex;
     justify-content: center;

     .sponsor {
       background: $magazineBg;
       text-decoration: none;
       flex: 0 0 auto;
       display: flex;
       padding: $verticalBase/2 $horizontalBase;
       font-family: $magazineFontFamily;
       font-size: 1.4rem;
       color: #666;
       cursor: pointer;
       justify-content: center;
       border: none;

       .logo {
         width: 3.2rem;
         height: 3.2rem;
         flex: 0 0 3.2rem;
         margin-right: 12px;
       }

       .publisher-meta {
         flex: 0 0 auto;
         display: flex;
         flex-direction: column;
         margin-top: -6px;

         .publisher-name {
           font-size: 14px;
           font-weight: bold;
           color: #333;
         }

         .posted {
           font-size: 13px;
           font-weight: normal;
           color: #777;
           margin-top: -4px;
         }
       }
     }
   }

   &::before {
     position: absolute;
     content: '';
     display: block;
     width: calc(100% - #{2*$horizontalBase});
     height: 1px;
     background: $magazineBorderColor;
     top: 26px;
   }
 }
}
