// Topbar

div#c2-magazine-topbar {
    visibility: hidden;
    display: none;
}

// Sidebar

div#c2-magazine-sidebar {
 //       visibility: hidden;
 //       display: none;
    position: fixed;
    top: 0;
    width: $c2-magazine-sidebar-width;
    height: 100vh;
    vertical-align: top;
    background-color: $c2-magazine-col-darkgray;
}

// Logo

div.c2-magazine-logo,
div.c2-magazine-sol-logo
{
    text-align: center;
}

div.c2-magazine-logo {
    height: 24rem;
}

div.c2-magazine-logo img {
    margin-top: 5rem;
}

div.c2-magazine-sol-logo {
    height: 16rem;
    line-height: 16rem;
}

// Tab container

div.c2-magazine-sidebar-tab {
    width: 100%;
    height: $c2-magazine-sidebar-tab-height;
}

div.c2-magazine-sidebar-tab.active-tab {
    //color: #87F1FF;
    color: white;
    background-color: lighten($c2-magazine-col-darkgray, 20%);
}

div.c2-magazine-sidebar-tab.inactive-tab {
    color: #1AE3ff;
    background-color: $c2-magazine-col-darkgray;
}

div.c2-magazine-sidebar-tab:hover {
    background-color: lighten($c2-magazine-col-darkgray, 25%);
}

div.c2-magazine-sidebar-tab .caption {
    color: inherit;
    line-height: $c2-magazine-sidebar-tab-height;
    padding-left: 5rem;

    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;

    background-position: 0.5rem center;
    background-repeat: no-repeat;
}

// Shared

div.c2-magazine-logo,
div.c2-magazine-sidebar-tab {
    border-bottom: 1px solid lighten($c2-magazine-col-darkgray, 15%);
}

div.c2-magazine-sidebar-tab,
div.c2-magazine-sidebar-tab *
{
    cursor: pointer;
}

// Category icons

$c2-solmedia-baseURL: 'https://solmedia.no/cloud/v1461313641/c2-magazine/framework/';

div.c2-magazine-sidebar-tab .icon-matOgDrikke {
    background-image: url(#{$c2-solmedia-baseURL}/icons/icon_matOgDrikke.png);
}

div.c2-magazine-sidebar-tab .icon-underholdning {
    background-image: url(#{$c2-solmedia-baseURL}/icons/icon_underholdning.png);
}

div.c2-magazine-sidebar-tab .icon-reise {
    background-image: url(#{$c2-solmedia-baseURL}/icons/icon_reise.png);
}

div.c2-magazine-sidebar-tab .icon-hobbyOgFritid {
    background-image: url(#{$c2-solmedia-baseURL}/icons/icon_hobbyOgFritid.png);
}

div.c2-magazine-sidebar-tab .icon-husOgHage {
    background-image: url(#{$c2-solmedia-baseURL}/icons/icon_husOgHage.png);
}

// Responsive layout for mobile

@media screen and (max-width: $c2-magazine-large-width) {

    div#c2-magazine-sidebar {
        visibility: hidden;
        display: none;
    }

    // Topbar

    div#c2-magazine-topbar {
        visibility: visible;
        display: block;
        z-index: 1;

        width: 100%;

        background-color: $c2-magazine-col-darkgray;

        ////////////////////
        position: fixed;
        top: 4rem;  // hack: keep free from "Dette er kommersielt"; needs fixed position
        ////////////////////

        // Child items

        div.c2-magazine-topbar-item {
            height: $c2-magazine-topbar-size;
            line-height: $c2-magazine-topbar-size;

            font-size: 20pt;
        }

        // Individual child styles

        div.c2-magazine-topbar-item#log,
        div.c2-magazine-topbar-item#cap {
            float: left;
        }

        div.c2-magazine-topbar-item#log,
        div.c2-magazine-topbar-item#ham {
            width: $c2-magazine-topbar-size;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        div.c2-magazine-topbar-item#log {
            background-size: calc(#{$c2-magazine-topbar-size} * 0.8) calc(#{$c2-magazine-topbar-size} * 0.8);
            background-image: url(#{$c2-solmedia-baseURL}/c2-logo.png);
        }

        div.c2-magazine-topbar-item#cap {
            padding-left: 1.5rem;
        }

        div.c2-magazine-topbar-item#ham {
            float: right;
            background-image: url(#{$c2-solmedia-baseURL}/icons/icon_hamburger_w.png);
        }

        // Clear float

        br {
            clear: both;
        }

    } // div#c2-magazine-topbar

}
