/* Sidebar */

div.c2-magazine-sidebar {
    background-color: #232120;
}

div.c2-magazine-sidebar {
    position: fixed;
    top: 0;
    width: $c2-magazine-sidebar-width;
    height: 100vh;
    vertical-align: top;
}

/* Logo */

div.c2-magazine-logo,
div.c2-magazine-sol-logo
{
    background-position: center center;
    background-repeat: no-repeat;
}

div.c2-magazine-logo {
    height: 24rem;
    background-image: URL('https://solmedia.no/cloud/v1461146964/c2-magazine/framework/c2-logo.png');
}

div.c2-magazine-sol-logo {
    height: 16rem;
    background-image: URL('https://solmedia.no/cloud/v1439812265/static/sol-logo.png');
}

/* Tab container */

div.c2-magazine-sidebar-tab {
    width: 100%;
    height: $c2-magazine-sidebar-tab-height;
}

div.c2-magazine-sidebar-tab.active-tab {
    color: #87F1FF;
    background-color: #504B49;
}

div.c2-magazine-sidebar-tab.inactive-tab {
    color: #1AE3ff;
    background-color: #232120;
}

div.c2-magazine-sidebar-tab:hover {
    background-color: #645D5C;
}

div.c2-magazine-sidebar-tab .caption {
    color: inherit;
    line-height: $c2-magazine-sidebar-tab-height;
    padding-left: 5rem;

    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;

    background-position: 0.5rem center;
    background-repeat: no-repeat;
}

/* Shared */

div.c2-magazine-logo,
div.c2-magazine-sidebar-tab {
    border-bottom: 1px solid #322F2E;
}

div.c2-magazine-logo,
div.c2-magazine-logo *,
div.c2-magazine-sidebar-tab,
div.c2-magazine-sidebar-tab *
{
    cursor: pointer;
}

/* Category icons */


div.c2-magazine-sidebar-tab .icon-food {
    background-image: URL('https://solmedia.no/cloud/v1461313641/c2-magazine/framework/icons/icon_food.png');
}

div.c2-magazine-sidebar-tab .icon-entertainment {
    background-image: URL('https://solmedia.no/cloud/v1461313641/c2-magazine/framework/icons/icon_entertainment.png');
}

div.c2-magazine-sidebar-tab .icon-travel {
    background-image: URL('https://solmedia.no/cloud/v1461313641/c2-magazine/framework/icons/icon_travel.png');
}

div.c2-magazine-sidebar-tab .icon-hobbyAndSparetime {
    background-image: URL('https://solmedia.no/cloud/v1461313641/c2-magazine/framework/icons/icon_hobbyAndSparetime.png');
}

div.c2-magazine-sidebar-tab .icon-houseAndGarden {
    background-image: URL('https://solmedia.no/cloud/v1461313639/c2-magazine/framework/icons/icon_houseAndGarden.png');
}

