/**
 * Open Sans 800
 *
 * Intended use: Main font for headings.
 *
 * Usage:
 *
 * h1 {
 *     font-family: $headingFont;
 *     font-weight: 800;
 * }
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
$headingFont: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/**
 * Helvetica Neue
 *
 * Intended use: Body copy.
 *
 * Usage:
 *
 * p {
 *     font-family: $mainFont;
 * }
 */
$mainFont: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
