.wp-caption {
    margin: 0;
    max-width: 100%;
    background:$offwhiteColor;

    > img {
        width: 100%;
    }
    > a {
        display: block;
        padding: 0;
        background: transparent;
    }
}

.wp-caption-text {
    @extend cite;

    padding-left: $horizontalBase;
    padding-right: $horizontalBase;
    margin-bottom: $verticalBase;
}

.alignleft,
.alignright {
    margin: 0 0 $verticalBase;
}
.alignleft {
    float: left;
    margin: 0 $horizontalBase $verticalBase 0;
}
.alignright{
    float: right;
    margin: 0 0 $verticalBase $horizontalBase;
}
.aligncenter {
    margin: 0 auto $verticalBase;
}
.alignnone {
    margin-bottom: $verticalBase;
}
