$verticalBase: 2.4rem;
$horizontalBase: 1.4rem;

$paperWidth: 98rem;
$contentWidth: 66.6rem;

// When should we reflow?
$largeCellWidth: 350px;
$largeWidth: 750px;
$topbannerRestrictedWidth: 1000px;

$headerHeight:5.6rem; // Redo this in $verticalBase
$solfrontHeaderHeight:7.5rem; // The header in solfront is different

// C2 Magazine
$c2-magazine-large-width: $largeWidth;

$c2-magazine-topbar-size: 6rem;

$c2-magazine-sidebar-width: 25rem;
$c2-magazine-sidebar-tab-height: 7rem;

$c2-magazine-col-darkgray: #232120;
