// Palette
$solColor:#e20613;
$solRed:$solColor;

$neutralColor:rgb(238,238,238);
$whiteColor:rgb(255,255,255);
$offwhiteColor:#f5f5f5;
$lightShade:rgba(0,0,0,0.04);
$overlayColor:rgba(0,0,0,0.4);

// Backgrounds
$bgColor: $neutralColor;
$paperColor: $whiteColor;
$bylineBgColor: $lightShade;
$linkBgColor: $lightShade;
$borderColor:darken($neutralColor,6.5%);
$lightBorderColor:darken($neutralColor,3%);
$adColor: #fcf7e8;

// Copy
$headingColor:#333;
$lightHeadingColor:rgba(0,0,0,0.545);
$textColor:#555;
$lightTextColor:#777;
$bylineColor:#8f8f8f;
$linkColor:#08e;
$linkHighlightColor:$offwhiteColor;

/*Menu Colors*/
$headerColor: #2c2c2c;
$menuButtonActiveColor: lighten($headerColor,10%);
$menuFirstLevelBgColor: $offwhiteColor;
$menuSecondLevelBgColor: #e6e6e6;
$extraMenuBorder: $offwhiteColor;

/*Events Colors*/
$eventBorderColor: #e0e0e0;
$eventBgColor: #fefefe;
$sourceColor:#9f9f9f;
