/**
 * Mixins
 */
@mixin box-shadow($value1,$value2:"") {
    @if $value2 != "" {
        -webkit-box-shadow: $value1,$value2;
        -moz-box-shadow: $value1,$value2;
        box-shadow: $value1,$value2;
    } @else {
        -webkit-box-shadow: $value1;
        -moz-box-shadow: $value1;
        box-shadow: $value1;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin clearfix() {
    display: block;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin padded-text() {
  padding:$verticalBase/10 $horizontalBase/4;
  margin:$verticalBase*-1/10 0;
  background:$linkBgColor;
  @include border-radius(3px);
}
@mixin no-padded-text() {
  padding:0;
  margin:0;
  background:transparent;
}


@mixin transition($transition-property, $transition-time, $method: ease) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

