$verticalBase: 2.4rem;
$horizontalBase: 1.2rem;

$paperWidth: 98rem;
$contentWidth: 66.6rem;

// When should we reflow?
$largeCellWidth: 350px;
$largeWidth: 750px;
$topbannerRestrictedWidth: 1000px;

$headerHeight:5.6rem; // Redo this in $verticalBase
