@import
    'article',

    '../modules/typography-listicle',
    '../modules/advert',
    '../modules/latest-module';

/**
 * Template specific classes
 */
.feature {
    // Adjust to wallpapers
    &.has-post-thumbnail {
        padding-top:$verticalBase;
    }

    background:$bgColor;

    // Typography overrides
    h1,h2,h5,h6 {
        font-family:$alternativeHeadingFont;
    }
    h4 {
        font-size:2.0rem;
    }

    header {
        @include paper-shadow();

        background:$paperColor;
        margin:0;
        margin-bottom: 20px;
        padding:0 $horizontalBase;

        h1,
        p {
            text-align: center;
        }
    }

    > iframe {
        width:100%;
        margin:0 auto $verticalBase !important;

        &:last-child {
            margin-bottom:0 !important;
        }
    }

    img.aligncenter {
      width:100%;
      height:auto;
      margin-left:-$horizontalBase;
    }

    .related-posts {
        max-width:$contentWidth;
        margin:0 0 $verticalBase;
    }
}
