.wallpaper-ad-wrapper{
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    position:absolute;
    top:$headerHeight;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
