/**
 * Custom vars.
 */
$adMarkerSize: 1rem;

@import 'ads-native';

.ad-wrapper {
    overflow: hidden;
}

.banner-ad {
    clear: both;
    width:100%;
    position:relative;
    text-align: center;
    margin-bottom:$verticalBase;

    // Above wallpaper, beneath everything else
    &.ad-topbanner.wallpaper {
        z-index:2;
    }

    .sparks & {
        @include paper();
        padding-top:0;
    }
}

#ad-topbanner {
    margin-bottom:0;
}

.ad-marker:before {
    margin-top: $verticalBase - $adMarkerSize;
    font-size: $adMarkerSize;
    color: $lightTextColor;
    text-transform: lowercase;
    content: "Annonse";
    line-height: $adMarkerSize;
    display: block;
    text-align: center;
}

/**
 * Layout-large.
 */
@media screen and (min-width:$largeWidth) {
    @import 'ads-sticker';
    @import 'ads-wallpaper';
}
