/**
 * This will hopefully be common code later on and not 'sol-event-public'-spesific.
 */

/**
 * Custom vars.
 */
$adMarkerSize: 1rem;

/**
 *
 */
.event-page {
    .ad-wrapper {
        overflow: hidden;
    }

    .ad-netboard {
        clear: both;
    }

    .ad-marker:before {
        margin-top: $verticalBase - $adMarkerSize;
        font-size: $adMarkerSize;
        color: $lightTextColor;
        text-transform: lowercase;
        content: "Annonse";
        line-height: $adMarkerSize;
        display: block;
        text-align: center;
    }
}

/**
 * Layout-large.
 */
@media screen and (min-width:$largeWidth) {
    .ad-wrapper {
        margin-left: $horizontalBase;
        margin-right: $horizontalBase;
    }
    @import 'ads-sticker';
    @import 'ads-wallpaper';
}
