/**
 * This will hopefully be common code later on and not 'sol-event-public'-spesific.
 */

/**
 * Custom vars.
 */
$adMarkerSize: 1rem;

/**
 *
 */
.event-page {
    .ad-wrapper {
        overflow: hidden;
    }

    .ad-netboard {
        clear: both;
    }

    .ad-marker:before {
        margin-top: $verticalBase - $adMarkerSize;
        font-size: $adMarkerSize;
        color: $lightTextColor;
        text-transform: lowercase;
        content: "Annonse";
        line-height: $adMarkerSize;
        display: block;
        text-align: center;
    }
}

/**
 * Layout-large.
 */
@media screen and (min-width:$largeWidth) {
    .ad-wrapper {
        margin-left: $horizontalBase;
        margin-right: $horizontalBase;
    }

    .ad-sticker_left,
    .ad-horseshoe_left {
        right: 50%;
        margin-right: 500px;
        position: absolute;
    }

    .ad-sticker_right,
    .ad-horseshoe_right {
        left: 50%;
        margin-left: 500px;
        position: absolute;
    }

    .ad-horseshoe_left,
    .ad-horseshoe_right {
        top: 5.6rem;
        min-width: 180px;
    }

    .ad-sticker_right,
    .ad-sticker_left {
        top: 120rem;
        min-width: 180px;
    }

    .ad-sticker_left.fixed,
    .ad-sticker_right.fixed {
        position: fixed;
        top: 5.6rem;
    }
}
