.site-footer {
  margin-bottom: -2rem;
  min-height: 40rem;
  background-color: $footerBgColor;
  text-align: center;

  padding: 2*$verticalBase $horizontalBase;

  ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0 0 1rem 0;

    li {
      margin:0;
    }
  }
  .footer-logo {
    height: 8.8rem;
    width: 8.8rem;
    margin: 0 auto;
    text-indent: -9999px;
    background: url(http://www.sol.no/static/img/sol-footer-logo.png) 0 0 no-repeat;
    background-size: 8.8rem;
  }
  .footer-links {
    margin-top: 3rem;
    padding-top: 4.3rem;
    border-top: 0.1rem solid $footerBorderColor;
  }
  .address {
    color: $footerColor;
  }
  a {
    color: $footerLightColor;
    padding: $verticalBase/2 $horizontalBase/2;
    @include border-radius(0.3rem);

    &:focus,
    &:active {
      background:$footerHighlightColor;
    }
  }
  .description {
    color: $footerColor;
    margin-bottom: 0;
  }
  .content {
    color: $footerLightColor;
    margin: 0;
  }
}

.footer-information h3.content {
  padding: 0.4rem;
}

.footer-information h3.description {
  padding-bottom: 0;
}

@media screen and (min-width:110rem) {
    footer.site-footer > * {
        margin: 0 auto;
        max-width:150rem;
    }
}
