@font-face {
    font-family:icomoon;
    src:url(http://www.sol.no/static/fonts/icomoon.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

[class*=" icon-"], [class^="icon-"] {
    font-family:icomoon;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.icon-search:before {
    content:"\f002";
}

.icon-arrow-right:before {
    content:"\f054";
}

.icon-arrow-down:before {
    content:"\f078";
}

.icon-menu:before {
    content:"\f0c9";
}
