/**
 * Slider-style image gallery.
 *
 * Original purpose: In-stream view of multiple images in restricted space.
 */
$ig-screen-sm-min: 768px;
$ig-black: #222222;
$ig-blue: #e20613;

.image-gallery {
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  background-color: $darkBgColor;

  .slider-content {
    position: relative;

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 43%;
      line-height: 0;
      z-index: 1;
      font-size: 5rem;
      text-shadow: 0 2px 2px $ig-black;
      transition: all .2s ease-out;
      color: $whiteColor;
      text-decoration:none;

      @media (max-width: $ig-screen-sm-min) {
        font-size: 4em;
      }

      &:hover {
        transform: scale(1.4);
        color: $ig-blue;
      }

      &:before {
        padding: 2*$verticalBase $horizontalBase;
      }
    }

    .prev {
      left: 0;
      &:before {
        content: '←';
      }
    }

    .next {
      right: 0;
      &:before {
        content: '→';
      }
    }

    .slides {
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      .slide {
        opacity: 0;
        display: inline-block;
        width: 100%;

        &.left,
        &.center,
        &.right {
          transition: all .35s ease-out;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.left {
          -moz-transform: translate3d(-100%, 0, 0);
          -webkit-transform: translate3d(-100%, 0, 0);
          -o-transform: translate3d(-100%, 0, 0);
          -ms-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }

        &.center {
          opacity: 1;
          -moz-transform: translate3d(0, 0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          &.relative {
            position: relative;
          }
        }

        &.right {
          -moz-transform: translate3d(100%, 0, 0);
          -webkit-transform: translate3d(100%, 0, 0);
          -o-transform: translate3d(100%, 0, 0);
          -ms-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
        }

        h3,
        p {
          color: $whiteColor;
        }

        h3 {
            @include padding();
        }
        img {
          width: 100%;
        }
        p{
          white-space: normal;
          margin:0.5em 1em;
        }

      }
    }

  }

  .bullet-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    .bullets {
      margin: 0;
      padding: 0;

      .bullet {
        cursor: pointer;
        padding: 5px;
        border: 1px solid $whiteColor;
        box-shadow: 0 1px 0 $ig-black;
        margin: 0 5px;
        display: inline-block;
        border-radius: 50%;

        @media (max-width: $ig-screen-sm-min) {
          padding: 3px;
          margin: 0 3px;
        }

        &.active {
          background: $whiteColor;
        }
      }
    }
  }

  .thumbnail-container {
    overflow: hidden;
    background: $whiteColor;
    padding-top: 10px;

    .thumbnails {
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      transition: all .45s ease-out;

      .thumbnail {
        padding-right: 10px;
        display: inline-block;

        img {
          width: 100px;
          vertical-align: middle;
          transition: border .3s ease-out;
          border: 4px solid transparent;

          @media (max-width: $ig-screen-sm-min) {
            width: 75px;
            border: 3px solid transparent;
          }
        }

        &.active {
          img {
            border: 4px solid $ig-blue;

            @media (max-width: $ig-screen-sm-min) {
              border: 3px solid $ig-blue;
            }
          }
        }
      }
    }
  }
}
