body {
    background:$bgColor;
    padding-top:$headerHeight;
}

article {
    @include paper();

    header {
        max-width:$paperWidth;
        margin-left:auto;
        margin-right:auto;
    }
}

.entry-meta {
    @include standout();
}

.entry-footer {
    @include standout();
    margin-top:2*$verticalBase;
    margin-bottom:-$verticalBase;
}

.post-navigation {
    @include spacing();
    @include paper();
    @include clearfix();

    .nav-previous,
    .nav-next {
    }

    .nav-previous {
        float:left;
    }

    .nav-next {
        float:right;
    }
}
