@media screen and (min-width:$largeWidth) {
    html article.listicle {
        header,
        footer {
            max-width:$paperWidth;
            margin-left:auto;
            margin-right:auto;
        }
    }
}
