/**
 * Roboto Slab 700
 *
 * Intended use: Alternative font for headings.
 *
 * Usage:
 *
 * h1 {
 *     font-family: $alternativeHeadingFont;
 *     font-weight: bold;
 * }
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
$alternativeHeadingFont: 'Roboto Slab', 'serif';

h3 {
    padding-top:$verticalBase/2;
    padding-bottom:$verticalBase/2;
}
