/**
 * Typography changes for large-width viewports.
 */
@media screen and (min-width:$largeWidth) {
    /**
     * Headings
     */
    h1 {
        font-size:5.2rem;
        line-height:$verticalBase*8/3;
    }
    h2 {
        font-size:2.8rem;
    }
    h3 {
        font-size:2.0rem;
    }
    h4 {
        font-size:1.6rem;
    }

    /**
     * Body copy
     */
    // Lede
    h1 + p {
        font-size:1.9rem;
    }

    a {
        @include no-padded-text();

        &:hover,
        &:active,
        &:focus {
            text-decoration:none;
            background:transparent;
            color:$linkColor;
        }

        &:focus {
            outline:1px solid $linkColor;
        }
    }

    blockquote {
        margin-left:$verticalBase*2 + $horizontalBase;
    }

    small {
        font-size:1.4rem;
    }

    /**
     * Template specific styles
     */

    .byline dd {
        margin-left:0;
    }
    .listicle .entry-content > ol > li {
        &:after {
            content:'';
            display:block;
            height:2*$verticalBase;
            border-right:2px solid $lightBorderColor;
            position:absolute;
            top:$verticalBase;
            left:2*$verticalBase + 2*$horizontalBase;
        }
        > :first-child {
            padding-left:2*$horizontalBase + 2*$verticalBase !important;
        }

        blockquote {
            margin-left:$verticalBase*2 + $horizontalBase;
        }

        > blockquote:first-child {
            padding-left:$horizontalBase !important;
        }
    }
}
