/**
 * Roboto Slab 700
 *
 * Intended use: headers.
 *
 * Usage:
 *
 * h1 {
 *     font-family: 'Roboto Slab', serif;
 *     font-weight: bold;
 * }
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
$headingFont: 'Roboto Slab', 'serif';

/**
 * Helvetica Neue
 *
 * Intended use: Body copy.
 *
 * Usage:
 *
 * p {
 *     font-family: 'Helvetica'
 * }
 */
$mainFont: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

@import url("http://fonts.googleapis.com/css?family=Open+Sans:800");
$headingEventFont: 'Open Sans', 'sans-serif';